<div class="right-content">

        <!--  //HOME PAGE  -->

        <!--  SERVICE  -->
        <div class="service main-block">
            <div class="left-content col-lg-9">
                <div class="scroller">
                    <article class="left-content-text">

                        <strong>Profile</strong>

                        <img class="profilephoto img-circle" src="<%= @current_user.image_url%>" alt="">
                        <table class="table table-bordered" style="max-width:500px">
                            <!-- <thead class="thead-default">
                                <tr>
                                    <th></th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                </tr>
                            </thead> -->
                            <tbody>
                                <tr>
                                    <th scope="row" style="width: 150px">Name</th>
                                    <td><%= @current_user.name %></td>

                                </tr>
                                <tr>
                                    <th scope="row">Phone number</th>
                                    <td><%= @current_user.phone %></td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td><%= @current_user.email %></td>
                                </tr>
                                <tr>
                                    <th scope="row">Nationality</th>
                                    <td><%= @current_user.nationality %></td>
                                </tr>
                                <tr>
                                    <th scope="row">Strength</th>
                                    <td><%= @current_user.strength %></td>
                                </tr>
                                <tr>
                                    <th scope="row">Occupation</th>
                                    <td><%= @current_user.occupation %></td>
                                </tr>
                                <tr>
                                    <th scope="row">Github address</th>
                                    <td><%= @current_user.github %></td>
                                </tr>
                            </tbody>
                        </table>

                        <button class="btn btn-warning">Delete profile</button>

                    </article>
                </div>
                <div class="scroller__track">
                    <div class="scroller__bar"></div>
                </div>
            </div>
            <!--  //RIGHT CONTENT  -->
            <div class="right-images col-lg-3 col-md-3 col-sm-3">
              <div class="scroller">
                  <ul>
                      <li>
                          <img src="/assets/ih1.jpg" alt="">

                      </li>
                      <li>
                          <img src="/assets/ih2.jpg" alt="">

                      </li>
                      <li>
                          <img src="/assets/ih4.jpg" alt="">

                      </li>
                      <li>
                          <img src="/assets/ih7.jpg" alt="">

                      </li>

                  </ul>
              </div>
              <div class="scroller__track">
                  <div class="scroller__bar"></div>
              </div>
          </div>
          <!--  //RIGHT IMAGES  -->
      </div>
      <!--  //PORTFOLIO WITH DETAILS  -->
  </div>
